@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.home {
  background-image: url(../src/assets/images/restaurent.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapped-text {
  word-wrap: break-word;
  max-width: 20ch;
}
.wrapped-text2 {
  word-wrap: break-word;
  max-width: 45ch;
}
.wrapped-text3 {
  word-wrap: break-word;
  max-width: 18ch;
}
.wrapped-text4 {
  word-wrap: break-word;
  max-width: 60ch;
}
.wrapped-text5 {
  word-wrap: break-word;
  max-width: 24ch;
}
